html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
}
body {
  font-family: "Outfit", sans-serif;
}
.liquid-bg {
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none; /* so clicks go to UI */
}

.site-content {
  position: relative;
  z-index: 10;
  min-height: 100vh;
}
@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/Outfit-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/Outfit-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/Outfit-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/Outfit-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

